{##
# @component button
# @param {string} content - text in the button
# @param {color} color - color of the button
#}

<button class="button {{ color }}">{{ content }}</button>
<button class="button {{ color }}">{{ content }}</button>
<button class="button {{ color }}">{{ content }}</button>