    
    <meta charset="utf-8">
        <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <![endif]-->
    
    <link rel="canonical" href="{{ getUrl() }}" />

    <title>{{ title }}</title>
    <meta name="description" content="{{ description }}">

    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- SOCIAL DATAS -->

    <!-- FACEBOOK -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{ title }}">
    <meta property="og:url" content="{{ getUrl() }}">
    <meta property="og:image" content="{{ root_web }}/medias/facebook-share.jpg">
    <meta property="og:site_name" content="{{ site_name }}">
    <meta property="og:description" content="{{ description }}">

    <!-- TWITTER -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@{{ global.twitter.username }}">
    <meta name="twitter:title" content="{{ title }}">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image:src" content="/medias/facebook-share.jpg">

    <!-- FAVICONS -->
    <link rel="icon" type="image/png" href="/medias/favicons/favicon.ico">

    <link rel="icon" type="image/png" href="/medias/favicons/favicon-57x57.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="/medias/favicons/favicon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="/medias/favicons/favicon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="/medias/favicons/favicon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="/medias/favicons/favicon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="/medias/favicons/favicon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="/medias/favicons/favicon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="/medias/favicons/favicon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/medias/favicons/favicon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/medias/favicons/favicon-180x180.png"/>
    <link rel="icon" type="image/png" href="/medias/favicons/apple-touch-16x16.png" sizes="16x16"/>
    <link rel="icon" type="image/png" href="/medias/favicons/apple-touch-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/medias/favicons/apple-touch-96x96.png" sizes="96x96"/>
    <link rel="icon" type="image/png" href="/medias/favicons/apple-touch-160x160.png" sizes="160x160"/>
    <link rel="icon" type="image/png" href="/medias/favicons/apple-touch-192x192.png" sizes="192x192"/>
    <meta name="msapplication-TileColor" content="#da532c"/>
    <meta name="msapplication-TileImage" content="/medias/favicons/ms-tile-44x44.png"/>
