{% extends "styleguide/default/layout.html.twig" %}

{% block content %}

<p>Liste des devices</p>
<ul style="margin-bottom:30px;">
{% for device in components %}
	<li style="display:inline-block;">{{ device.device }}</li>
{% endfor %}
</ul>

<p>Liste des components par device</p>
{% for device in components %}
	<p style="margin-left:20px;">{{ device.device }}</p>
	<ul style="margin-left:20px;">
		{% for component in device.components %}
		<li style="margin-left:20px;">
			<p class="folder-name">{{ component.dir }}</p>
			<ul style="margin-left:20px;">
			{% for file in component.files %}
				<li>
					{{ file.name }}
					<pre>{{ file.content }}</pre>
				</li>
			{% endfor %}
			</ul>
		</li>
		{% endfor %}
	</ul>

{% endfor %}

{% endblock %}